[submodule "Packages/Promise"]
	path = Packages/Promise
	url = https://github.com/evaera/roblox-lua-promise
[submodule "Packages/Cmdr"]
	path = Packages/Cmdr
	url = https://github.com/evaera/Cmdr
[submodule "Packages/ProfileStore"]
	path = Packages/ProfileStore
	url = https://github.com/MadStudioRoblox/ProfileStore
